<.navbar />

<div class="max-w-3xl px-4 mt-10 pt-10 lg:pt-14 pb-12 sm:px-6 lg:px-8 mx-auto">
  <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center">
    <h2 class="text-5xl lg:text-4xl text-gray-800 font-bold dark:text-neutral-200">About</h2>
    <p class="mt-3 text-xl text-gray-800 dark:text-neutral-200">Get to know me</p>
  </div>
  <div class="mt-8 blog text-xl text-gray-600 dark:text-neutral-400">
    {Phoenix.HTML.raw(@content || "")}
  </div>
</div>

<.site_footer />
