.linkStyle {
  a {
    color: #AF2424;

    &:hover {
      color: #981313;
    }
  }

  img {
    width: 100%;
  }

  pre {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 10px;
  }
}
