@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

a.title-article {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.red-section {
  background: linear-gradient(to left, #981313, #AF2424);
}

.copyright-section {
  border-top: 1px solid #fff;

  p {
    font-size: 0.8rem;
  }
}

.about-section {
  a {
    color: #AF2424;

    &:hover {
      color: #981313;
    }
  }

  img {
    width: 100%;
  }
}

article {
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
}
