@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

a.title-article {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.red-section {
  background: linear-gradient(to left, #981313, #af2424);
}

.copyright-section {
  border-top: 1px solid #fff;

  p {
    font-size: 0.8rem;
  }
}

.about-section {
  a {
    color: #af2424;

    &:hover {
      color: #981313;
    }
  }

  img {
    width: 100%;
  }
}

.card-summary {
  p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
  }
}

article {
  p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    line-height: 2.25rem;
  }

  ul, ol {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    line-height: 2.25rem;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    p {
      display: inline;
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    cite {
      font-size: 1rem;
    }
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  h3 {
    margin-top: 30px;
  }
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
